
@{
    ViewBag.Title = "ForumCategoryOverview";
}


<nav class="breadcrumb">
    <a href="@Url.Action("ForumCategory","Forum")" class="breadcrumb-item">Все категории</a>
    <a href="@Url.Action("ForumCategory","Forum")" class="breadcrumb-item">@ViewBag.Theme</a>
    
</nav>
<table class="table-striped table-bordered table-hover table-responsive mb-xl-3 ">
    <thead class="table-light">
        <tr>
            <th scope="col" class="forum-col">Тема топика</th>
            <th scope="col">Количество постов</th>
            <th scope="col">Сообщение</th>
            <th scope="col" class="last-post-col">Последнее сообщение</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var Forum in ViewBag.Forums)
        {
            <tr>
                <td>
                    <h3 class="h5 mb-0"><a href="#0" class="text-uppercase"></a></h3>
                    <p class="mb-0"><a href="@Url.Action("ForumPost","Forum",new { Id=Forum.Id,Title=Forum.Title})">@Forum.Title</a></p>
                </td>
                <td>
                    <div>5</div>
                </td>
                <td>
                    <div>10</div>
                </td>
                <td>
                    <h4 class="h6 text-dark mb-0 font-weight-bold"><a href="#">Первое сообщение</a> </h4>
                    <div>Оставлено пользователем:<br /><a href="#">@Forum.Author</a></div>
                    <div><a>@Forum.Created.ToString()</a></div>
                </td>
            </tr>
        }

    </tbody>
    <tbody>

</table>
@if (User.Identity.IsAuthenticated)
{
    <a href='@Url.Action("CreateCategory", "Forum")' class="btn btn-primary">Create topic</a>
}
else
{
    <h3>Для создания топика необходимо войти или зарегистрироваться.</h3>
    <a href='@Url.Action("Login", "Account")' class="btn btn-primary">Войти</a>
    <a href='@Url.Action("Register", "Account")' class="btn btn-info">Зарегистрироваться</a>
}