@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="container">
        <h1 class="display-3">Кофе!</h1>
        <p>Данный форум предназачен для обмена мнениями и советами связанными с нашим любимым напитком.</p>
        <p><a class="btn btn-primary btn-lg" href="@Url.Action("ForumCategory","Forum")" role="button">Перейти к форуму »</a></p>
    </div>
</div>

<div class="container">
    
    <div class="row">
        <div class="col-md-4">
            <h2>Американо</h2>
            <p>
                Америка́но (итал. Caffè Americano — кофе по-американски) — способ приготовления кофе, заключающийся в соединении определённого количества горячей воды и эспрессо.

                Напиток придумали в Италии ещё во время Второй мировой войны для американцев как аналог американского популярного фильтрового напитка «регуляр». Общим у этих двух напитков были лишь большой объём и не очень концентрированный вкус.
            </p>
            <p><a class="btn btn-secondary" href="@Url.Action("ForumCategoryOverview","Forum",new { title="Американо" })" role="button">К обсуждению »</a></p>
        </div>
        <div class="col-md-4">
            <h2>Эспрессо</h2>
            <p>
                Эспре́ссо (от итал. espresso) — метод приготовления кофе путём прохождения горячей воды (около 90 °C) под давлением (около 9 бар) через фильтр с молотым кофе.

                Эспрессо пользуется большой популярностью во всём мире и, прежде всего, на юге Европы — в Италии, Испании и Португалии.

                В России слово «эспрессо» начинает использоваться с начала 1990-х годов, вытеснив название «маленький двойной», использовавшееся ранее.
            </p>
            <p><a class="btn btn-secondary" href="@Url.Action("ForumCategoryOverview","Forum",new { title="Эспрессо" })" role="button">К обсуждению »</a></p>
        </div>
        <div class="col-md-4">
            <h2>Латте</h2>
            <p>Ла́тте (англизированный и сокращённый вариант от итал. caffè latte [kaffeˈlatte] — «кофе с молоком») — кофейный напиток родом из Италии, состоящий из молока (итал. latte) и кофе эспрессо. Латте варится на основе молока, образуя в чашке или бокале трёхслойную смесь из молока, эспрессо и пены.</p>
            <p><a class="btn btn-secondary" href="@Url.Action("ForumCategoryOverview","Forum",new { title="Латте" })" role="button">К обсуждению »</a></p>
        </div>
        <div class="col-md-4">
            <h2>Раф-кофе</h2>
            <p>Раф-кофе (сокр. «Раф») — популярный в России и странах бывшего СССР кофейный напиток, появившийся в конце 1990-х годов. Готовится путём добавления нагретых паром сливок с небольшим количеством пены (0,5 см) в одиночную порцию эспрессо. Основное отличие от латте — в использовании ванильного сахара и сливок вместо молока. Часто подаётся с сиропом.</p>
            <p><a class="btn btn-secondary" href="@Url.Action("ForumCategoryOverview","Forum",new { title="Раф-кофе" })" role="button">К обсуждению »</a></p>
        </div>
        <div class="col-md-4">
            <h2>Прочее</h2>
            <p>Кофеварки, кофемашины и советы по многим другим вещам, включая экзотические вы можете найти здесь!</p>
            <p><a class="btn btn-secondary" href="@Url.Action("ForumCategoryOverview","Forum",new { title="Прочее" })" role="button">К обсуждению »</a></p>
        </div>
    </div>

    <hr>

</div>
